@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section>
        <h1>Welcome to FinManager!</h1>
        <p class="fs-3">The place where managing your finances becomes effortless.</p>
        <button type="button" class="btn btn-outline-success fs-4">Get started</button>
    </section>

    <section class="container py-5">
        <h2 class="text-center mb-4">Key Features</h2>

        <div class="row text-center">
            <div class="col-md-3">
                <div class="card feature-card p-3">
                    <div class="feature-icon">💰</div>
                    <h4 class="mt-3">Budget Tracking</h4>
                    <p>Manage expenses & income effortlessly with real-time tracking.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card feature-card p-3">
                    <div class="feature-icon">📊</div>
                    <h4 class="mt-3">Reports & Insights</h4>
                    <p>Gain deep insights into your spending habits and financial trends.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card feature-card p-3">
                    <div class="feature-icon">🚀</div>
                    <h4 class="mt-3">Automated Expense Categorization</h4>
                    <p>Let our smart system automatically sort your transactions into categories, saving you time and effort.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card feature-card p-3">
                    <div class="feature-icon">🔒</div>
                    <h4 class="mt-3">Secure & Private</h4>
                    <p>Advanced security measures to keep your data safe.</p>
                </div>
            </div>
        </div>
    </section>

    
</div>

<style>
    .feature-card{
        height: 100%;
    }

    .feature-icon {
        font-size: 2rem;
    }
</style>
